{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/home.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'movies/js/home.js' %}"></script>


	{% if user.is_authenticated %}
	<nav>
		<ul>
			<li><a href="#trending" class="trending">Trending</a></li>
			<li><a href="#new" class="new">New</a></li>
			<li><a href="#bestRated" class="bestRated">Best Rated</a></li>
			<li><a href="#upcomming" class="upcomming">Upcomming</a></li>
		</ul>
		<img src="{% static 'movies/pictures/hamburgerIcon.svg'%}" id="hamburger"/>
		<img src="{% static 'movies/pictures/star.svg'%}" class="favorite menuIcons" alt="Favorites" title="Favorite"/>
		<img src="{% static 'movies/pictures/exit.svg'%}" class="exit menuIcons" alt="Logout" title="Log out"/>
	</nav>

	<div id="trending">
		<div class="container justify-content-center">
			<div class="row col-11 col-centered">
				{% for movie in movies %}
				<div class="col-3 movieBox ">
					<a href="{% url 'movies:movieDescription' movie.id %}">
					<div>
						<img src="{% static movie.picture %}" width="100%"/>
						<p>{{movie.title}}</p>
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="new">

		<div class="container justify-content-center">
			<div class="row col-11 col-centered">
				{% for movie in movies %}
				<div class="col-3 movieBox ">
					<a href="{% url 'movies:movieDescription' movie.id %}">
					<div>
						<img src="{% static movie.picture %}" width="100%"/>
						<p>{{movie.title}}</p>
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
	<div id="bestRated">

		<div class="container justify-content-center">
			<div class="row col-11 col-centered">
				{% for movie in movies %}
				<div class="col-3 movieBox ">
					<a href="{% url 'movies:movieDescription' movie.id %}">
					<div>
						<img src="{% static movie.picture %}" width="100%"/>
						<p>{{movie.title}}</p>
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
	<div id="upcomming">

		<div class="container justify-content-center">
			<div class="row col-11 col-centered">
				{% for movie in movies %}
				<div class="col-3 movieBox ">
					<a href="{% url 'movies:movieDescription' movie.id %}">
					<div>
						<img src="{% static movie.picture %}" width="100%"/>
						<p>{{movie.title}}</p>
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>


	
	{% else %}
		<a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}

