#trending {
    background-color: #264653;
    min-height: 140vh;
}

.container{
    padding-top: 125px;
}

#new{
    background-color: #2A9D8F;
    min-height: 140vh;
}

#bestRated{
    background-color:#E9C46A;
    min-height: 140vh;
}

#upcomming {
    background-color: #F4A261;
    min-height: 140vh;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #264653;
}


nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.7em;
    margin-bottom: 5px;
}

nav li{
    display: inline-block;
    margin-right: 5%;
    margin-top: 5px;
}

nav img {
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
    padding-bottom: 20px;
}

.favorite{
    top: 55px;
    right: 25px;
    display: none;

}

.exit{
    top: 105px;
    right: 20px;
    display: none;
}



nav .trending{
    color:  #264653;
}

nav .new {
    color: #2A9D8F;
}

nav .bestRated {
    color: #E9C46A;
}

nav .upcomming {
    color: #F4A261
}

.navColor{
    color: rgb(255, 255, 255) !important;
    font-size: 1.2em !important;
    font-weight: 400;
}

.container a{
    color: #182d35 !important;
}

a:hover {
    color:white !important;
}

.movieBox a:hover{
    color: rgb(0, 110, 255) !important;
}

.movieBox div {
    padding:4px;
    background-color: white;
    box-shadow: 1px 5px 15px #182d35;
    margin-bottom: 35px;
}

.movieBox p{
    padding: 10px 5px !important;
    margin: 0;
}

.col-centered{
    margin: auto !important;
}